<app-layout></app-layout>
<div class="txttaogoidoanhnghiep">
  <label style="color: #04AA6D; font-size: 23px; "  > tất cả gói vận chuyển của doanh nghiệp </label>
</div>

<table class="contain" border="1" >
  <caption > Order khách hàng</caption>
  <thead>
    
  <tr >

    <th  style="text-align: center">Tên doanh nghiệp</th>
    <th style="text-align: center">Loại hàng hóa</th>
    <th  style="text-align: center">Khuyến mãi</th>
    <th style="text-align: center">Loại vận chuyển</th>
    <th  style="text-align: center">Nơi giao</th>
    <th style="text-align: center">Nơi nhận</th>
    <th  style="text-align: center">Chi phí</th>
    <th  style="text-align: center">Chọn gói</th>
   
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of array ">

    <td>  {{data.TenDoanhNghiep}}</td>
    <td>  {{data.LoaiHangHoa}}</td>
    <td>  {{data.KhuyenMai}}</td>
    <td>  {{data.LoaiVanChuyen}}</td>
    <td>  {{data.NoiGiao}}</td>
    <td>  {{data.NoiNhan}}</td>
    <td>  {{data.ChiPhi}}</td>
   
    <td><button  (click)="Choose(data._id)">Chọn</button> </td>
   
    

  </tr>
</tbody>
</table>
