<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="navbar"></div>
<div class="vertical-menu">
  <a  class="active">Home</a>
  <a (click)="getdata()">Tạo gói shipping</a>
  <a [routerLink]='["/muagoidoanhnghiep"]'>Mua gói doanh nghiệp</a>
  <a [routerLink]='["/orderkhachhang"]'>Oder by customer</a>
  <a [routerLink]='["/thongke-order"]'>Thống kê</a>
  <a [routerLink]='["/profile-doanhnghiep"]'>Profile</a>
</div>

</body>
</html>