.button{
    position: absolute;
    width: 279px;
    height: 27px;
    left: 258px;
    top: 565px;
    background: #D5E08D;
  }
  .contain{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 258px;
    top: 200px;
  }