<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="nar_bar">

  </div>
  <div class="img_quanlidonhang">
    <img src="../../assets/quanlidonhang.png" />
  </div>
  <div class="img_quanlikhuyenmai">
    <img src="../../assets/quanlikhuyenmai.png" />
  </div>
  <div class="img_thongke">
    <img src="../../assets/thongke.png" />
  </div>
  <div class="img_goidichvu">
    <img src="../../assets/goidichvu.png" />
  </div>
  <div class="quanlidonhang"> Quản lí đơn hàng</div>
  <div class="quanlikhuyenmai"> Quản lí thông tin doanh nghiệp</div>
  <div class="thongkehangthang"> Thống kê hàng tháng</div>
  <div class="goidichhvu"> Gói dịch vụ</div>
  <div class="img_delivery">
    <img src="../../assets/deliverycompany.png" />
  </div>
  <div class="delivery_company">Delivery Company</div>
</body>
</html>
