.contain {
  position: absolute;
  width: 1300px;
  height: 300px;
  left: 300px;
  top: 500px;
  margin-left: 30px;
  text-align: center;
}
.txttaogoidoanhnghiep {
  position: absolute;
  width: 800px;
  height: 300px;
  left: 300px;
  top: 150px;
  text-align: left;
}
.name {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 660px;
  top: 200px;
  background: #d5e08d;
  text-align: right;
}
.name1 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 660px;
  top: 250px;
  background: #d5e08d;
  text-align: right;
}
.name2 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 660px;
  top: 300px;
  background: #d5e08d;
  text-align: right;
}
.name3 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 660px;
  top: 350px;
  background: #d5e08d;
  text-align: right;
}
.name5 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 1200px;
  top: 200px;
  background: #D5E08D;
  text-align: right;

}
.name6 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 1200px;
  top: 250px;
  background: #D5E08D;
  text-align: right;

}.name7 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 1200px;
  top: 300px;
  background: #D5E08D;
  text-align: right;

}.name8 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 1200px;
  top: 350px;
  background: #D5E08D;
  text-align: right;

}
.name4 {
  /* Rectangle 5 */
  position: absolute;
  width: 150px;
  height: 27px;
  left: 660px;
  top: 400px;
  background: #d5e08d;
  text-align: right;
}
.txtname {
  /* Tên đầy đủ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 349px;
  top: 200px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.ngsinh {
  /* Rectangle 7 */
  position: absolute;
  width: 279px;
  height: 27px;
  left: 458px;
  top: 250px;
  background: #d5e08d;
}
.txtngsinh {
  /* Ngày sinh: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 349px;
  top: 250px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.address {
  /* Rectangle 6 */
  position: absolute;
  width: 279px;
  height: 27px;
  left: 458px;
  top: 300px;
  background: #d5e08d;
}
.txtaddress {
  /* Địa chỉ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 349px;
  top: 300px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.txtname1 {
  /* Tên đầy đủ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 1000px;
  top: 200px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.txtngsinh1 {
  /* Ngày sinh: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 1000px;
  top: 250px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.txtaddress1 {
  /* Địa chỉ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 1000px;
  top: 300px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.txtsodienthoai1 {
  /* Địa chỉ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 1000px;
  top: 350px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.sodienthoai {
  /* Rectangle 6 */
  position: absolute;
  width: 279px;
  height: 27px;
  left: 458px;
  top: 350px;
  background: #d5e08d;
}
.txtsodienthoai {
  /* Địa chỉ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 349px;
  top: 350px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.txttienloi {
  /* Địa chỉ: */
  position: absolute;
  width: 300px;
  height: 27px;
  left: 349px;
  top: 400px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.btnthangnay {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 700px;
  top: 450px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.btnthangtruoc {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 900px;
  top: 450px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.contain > thead > tr > th {
  padding: 5px 10px 5px 10px;
}

.contain > tbody > tr > td {
  padding: 5px 10px 5px 10px;
}

.btn {
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: aquamarine;
}
.btn:hover {
  color: gray;
  background-color: aqua;
}
