<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container"></div>
  <!-- <div class="avatar">
    <img src="../../assets/avatar.png" />
  </div>
  <div class="editavatar">Chỉnh sửa ảnh đại diện</div>
  <div class="name">Nguyễn Văn B</div> -->
 
  <div class="txtthongtincanhan">Thông tin cá nhân</div>
  <div class="txttennguoidung">Tên người dùng</div>
  <div class="txtdiachi">Email</div>
  <div class="txtdienthoai">Điện thoại</div>
  <form [formGroup]="formGroup">
  <input type="text" class="tennguoidung" formControlName="TenKhachHang" />
  <input disabled type="text" class="diachi" formControlName="Email" />
  <input type="text" class="dienthoai" formControlName="SoDienThoai" />
</form>
  <a [routerLink]='["/goi-customer"]' class="taikhoanlienket">Thông tin gói dịch vụ</a>
  
  <div class="luuthongtin">
    <img (click)="updateinfo()" src="../../assets/luuthongtin.png" />
  </div>
  <div class="changepass">
  <b> <a [routerLink]='["/changepassword"]' style=" color: #8D5C6E;">Đổi mật khẩu </a></b> 
  </div>
</body>
</html>
