<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container"></div>
  <div class="avatar">
    <img src="../../assets/avatar.png" />
  </div>
  <div class="editavatar">Chỉnh sửa ảnh đại diện</div>
  <div class="name">Nguyễn Văn B</div>
  <div class="txtthongtincanhan">Thông tin cá nhân</div>
  <div class="txttennguoidung">Tên người dùng</div>
  <div class="txtdiachi">Địa chỉ</div>
  <div class="txtdienthoai">Điện thoại</div>
  <div class="txtemail">Email</div>
  <div class="txtmatkhau">Mật khẩu</div>
  <input type="text" class="tennguoidung" />
  <input type="text" class="diachi" />
  <input type="text" class="dienthoai" />
  <input type="email" class="email" />
  <input type="password" class="matkhau" />
  <div class="taikhoanlienket">Tài khoản liên kết</div>
  <div class="lichsugiaodich">Lịch sử giao dịch</div>
  <div class="thongtinuudai">Thông tin ưu đãi</div>
  <div class="luuthongtin">
    <img src="../../assets/luuthongtin.png" />
  </div>
  <div class="huythaydoi">
    <img src="../../assets/huythaydoi.png" />
  </div>
</body>
</html>
