.contain{
    position: absolute;
    width: 1200px;
    height: 300px;
    left: 300px;
    top: 400px;
    text-align: center;
  }
  .txttaogoidoanhnghiep{
    position: absolute;
    width: 800px;
    height: 300px;
    left: 300px;
    top: 150px;
    text-align: left;
  }
  .name {
    /* Rectangle 5 */
    position: absolute;
    width: 279px;
    height: 27px;
    left: 458px;
    top: 202px;
    background: #D5E08D;
  }
  .txtname {
    /* Tên đầy đủ: */
    position: absolute;
    width: 121px;
    height: 27px;
    left: 349px;
    top: 202px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .ngsinh {
    /* Rectangle 7 */
    position: absolute;
    width: 279px;
    height: 27px;
    left: 458px;
    top: 251px;
    background: #D5E08D;
  }
  .txtngsinh {
    /* Ngày sinh: */
    position: absolute;
    width: 121px;
    height: 27px;
    left: 349px;
    top: 251px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .address {
    /* Rectangle 6 */
    position: absolute;
    width: 279px;
    height: 27px;
    left: 458px;
    top: 300px;
    background: #D5E08D;
  }
  .txtaddress {
    /* Địa chỉ: */
    position: absolute;
    width: 121px;
    height: 27px;
    left: 349px;
    top: 300px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .sodienthoai {
    /* Rectangle 6 */
    position: absolute;
    width: 279px;
    height: 27px;
    left: 458px;
    top: 350px;
    background: #D5E08D;
  }
  .txtsodienthoai {
    /* Địa chỉ: */
    position: absolute;
    width: 121px;
    height: 27px;
    left: 349px;
    top: 350px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .btnupdate{
    position: absolute;
    width: 100px;
    height: 27px;
    left: 800px;
    top: 270px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }