<app-enterprisedelivery></app-enterprisedelivery>



<div class="textregister">Cập nhật gói  shipping</div>
<div class="taogoishipping">
  <button (click)="taoshippingpackage()">Tạo gói shipping package</button>
</div>
   
  
<form [formGroup]="formGroup">
 <div class="txtname"> Loại vận chuyển </div>

 <input type="text" class="name" formControlName="LoaiVanChuyen" />

 <div class="txtngsinh"> ID Package</div>
 <input disabled type="text" class="ngsinh" formControlName="idPackageOld" />
 <div class="txtaddress"> Chi phí </div>
 <input type="number" class="address"  formControlName="ChiPhi"/>
 <div class="txtkhuyenmai"> Khuyến mãi </div>
 <input type="number" class="khuyenmai"  formControlName="KhuyenMai"/>
 <div class="txtpassw"> Nơi nhận</div>

 <input type="text" class="passw" formControlName="NoiNhan" />
 <div class="txtrepeatepw">Nơi giao </div>
 
 <input type="text" class="repeatepw"  formControlName="NoiGiao" />
  <div class="txtgioitinh">Loại hàng hóa </div>
  <input disabled type="text" class="gioitinh" formControlName="IdLoaiHangHoa" />
  <!-- <select  class="gioitinh" formControlName="IdLoaiHangHoa">
    <option   *ngFor="let data of mang " value={{mang._id}}>{{data.LoaiHangHoa}}</option>
    
  </select> -->

 <button (click)="updateshippingpackake()"  type="submit" class="btnregister">Hoàn tất</button>
 
</form>

<table class="contain" border="1" >
  <thead>
  <tr >
    <th  style="text-align: center">Trạng thái</th>
    <th  style="text-align: center">ID Package</th>
    <th style="text-align: center">Khuyến mãi</th>
    <th  style="text-align: center">Nơi nhận</th>
    <th style="text-align: center">Nơi giao</th>
    <th  style="text-align: center">Loại vận chuyển</th>
    <th  style="text-align: center">Loại hàng hóa</th>
    <th  style="text-align: center">Chi phí</th>
    <th  style="text-align: center">Chỉnh sửa</th>
  </tr>
</thead>
<tbody>
  <tr style="text-align: center" *ngFor="let data of array ">

    <td>  {{data.Status}}</td>
    <td>  {{data._id}}</td>
    <td>  {{data.KhuyenMai}}</td>
    <td>  {{data.NoiNhan}}</td>
    <td>  {{data.NoiGiao}}</td>
    <td>  {{data.LoaiVanChuyen}}</td>
    <td>  {{data.LoaiHangHoa}}</td>
    <td>  {{data.ChiPhi}}</td>
   
    
   <td><button (click)="currentData(data._id)" >Cập nhật </button ><button (click)="Xoa(data._id)" >Delete </button > </td>

  </tr>
</tbody>
</table>

