<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
 
   <div class="nar_bar_admin"></div>
   <div class="content_admin">
     <img src="../../assets/admin.png" />
   </div>
   <div class="txtquanliadmin">
     <div><a style="color: #8D5C6E">
  <img src="../../assets/quanlidonhang.png" /> Gói khách hàng
</a></div>
     <div><a style="color: #8D5C6E">
  <img src="../../assets/quanlikhuyenmai.png" />
  Gói doanh nghiệp
</a></div>
     <div><a style="color: #8D5C6E">
  <img src="../../assets/goidichvu.png" />
  Gói vận chuyển
</a></div>
     <div><a style="color: #8D5C6E">
  <img src="../../assets/usermanagement.png" /> User management
</a></div>
     <div><a style="color: #8D5C6E">
  <img src="../../assets/thongke.png" /> Thống kê
</a></div>
   
   </div>
</body>
</html>
