<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
 <app-layoutnotlogin></app-layoutnotlogin>
   <div class="nar_bar_admin"></div>
  
   <div class="txtquanliadmin">
     <div><a style="color: #8D5C6E" [routerLink]='["/showgoikhachhang"]'>
  <img src="../../assets/quanlidonhang.png" /> Gói khách hàng
</a></div>
     <div><a style="color: #8D5C6E" [routerLink]='["/showgoidoanhnghiep"]'>
  <img src="../../assets/quanlikhuyenmai.png" />
  Gói doanh nghiệp
</a></div>
     <div><a style="color: #8D5C6E" [routerLink]='["/producttype"]'>
  <img src="../../assets/goidichvu.png"  />
  Gói vận chuyển
</a></div>
     <div><a style="color: #8D5C6E" [routerLink]='["/showcustomer"]'>
  <img src="../../assets/usermanagement.png" /> User management
</a></div>
     <div><a style="color: #8D5C6E" [routerLink]='["/confirmenterprise"]'>
  <img src="../../assets/thongke.png" /> Xác nhận doanh nghiệp 
</a></div>
<div><a style="color: #8D5C6E" [routerLink]='["/listenterprise"]'>
   <img src="../../assets/thongke.png" />Danh sách doanh nghiệp 
 </a></div>
 <div><a style="color: #8D5C6E" [routerLink]='["/"]'>
  <img src="../../assets/thongke.png" />Đăng xuất
</a></div>
   
   </div>
</body>
</html>
