
<app-admin></app-admin>
  <div class="txtname"> Tổng đơn hàng </div>
  <input type="text" disabled class="name" value='{{tongdonhang}} đơn' />
  <div class="txtngsinh"> Tổng tiền gói khách hàng đã giảm</div>
  <input type="text" disabled class="name1" value="{{tongtiengiam}} VNĐ" />
  <div class="txtaddress">Tổng tiền tất cả đơn hàng</div>
  <input type="text" disabled class="name2" value=" {{tongtien}} VNĐ" />
  <div class="txtsodienthoai"> Tổng tiền đưa doanh nghiệp</div>
  <input type="text" disabled class="name3" value="{{tongtienduadoanhnghiep}} VNĐ" />
  <div class="txttienloi"> Tổng tiền lời (5%)</div>
  <input type="text" disabled class="name4" value="{{tongtienloi5}} VNĐ" />
  <div class="txtname1"> Tổng số gói đã bán </div>
  <input type="text" disabled class="name5" value='{{tonggoidaban}} gói' />
  <div class="txtngsinh1"> Tổng tiền bán gói</div>
  <input type="text" disabled class="name6" value="{{tongtienbangoi}} VNĐ" />
  <div class="txtaddress1">Tổng doanh thu</div>
  <input type="text" disabled class="name7" value="{{tongdoanhthu}} VNĐ" />
  <div class="txtsodienthoai1"> Tổng lợi nhuận</div>
  <input type="text" disabled class="name8" value="{{tongloinhuan}} VNĐ" />
  <button (click)="btnthangnay()" class="btnthangnay btn">Tháng {{thangnay}}</button>
  <button (click)="btnthangtruoc()" class="btnthangtruoc btn">Tháng {{thangtruoc}}</button>
<table class="contain" border="1" *ngIf="check==true">
  <thead>
  <tr>
    <th  style="text-align: center">Logo doanh nghiệp</th>
    <th  style="text-align: center">ID doanh nghiệp</th>
    <th  style="text-align: center">Tên doanh nghiệp</th>
    <th  style="text-align: center">Số đơn hàng</th>
    <th style="text-align: center">Tiền các đơn hàng</th>
    <!-- <th  style="text-align: center">Giấy phép</th>
    <th  style="text-align: center">Logo</th> -->
    <th style="text-align: center">Tiền gói khách hàng đã giảm</th>
   
    <th  style="text-align: center">Tổng tiền đưa cho doanh nghiệp</th>
    <th  style="text-align: center">Tiền lời (5%)</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of array ">

    <td>  <img src="{{data.LogoDoanhNghiep}}"  height="100px" width="100px"/></td>
    <td>  {{data.idDoanhNgiep}}</td>
    <td>  {{data.TenDoanhNghiep}}</td>
    <!-- <td>  {{data.GiayPhep}}</td>
    <td>  {{data.Logo}}</td> -->
    <td>  {{data.SoDonHang}}</td>
    <td>  {{data.TienDoanhNghiep}}</td>
    <td>  {{data.TienGiamGia}}</td>
    <td>  {{data.TienDuaDoanhNghiep}}</td>
    <td>  {{data.TienLayDoanhNghiep}}</td>
    
    
    
   
    
   <td><button (click)="updateenterprise(data.idDoanhNgiep)" class="btn">Chi tiết</button></td>

  </tr>
</tbody>
</table>