<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="txtservice">
      Gói khách hàng của chúng tôi
  </div>
  
    
  <div class="txtexpress">
    <form >
      <label for="cars">Phần trăm giảm:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
  </div>
 

  <div >
    <form class="txtgiao24h">
      <label for="cars">Khối lượng tối đa:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
  </div>
 
  <div class="btndatgiao">

   Chọn gói
  </div>
</body>
</html>
