.container {
  position: absolute;
  width: 1800px;
  height: 750px;
  left: 0px;
  top: 137px;
  background: linear-gradient(180deg, #FFF8DF 0%, rgba(255, 255, 255, 0) 100%), #FDFFB2;
}

.image_user {
  /* images 1 */
  position: absolute;
  width: 224px;
  height: 225px;
  left: 496px;
  top: 0px;
  mix-blend-mode: darken;
}

.textlogin {
  /* ĐĂNG KÍ */
  position: absolute;
  width: 184px;
  height: 96px;
  top: 100px;
  left: 751px;
  font-family: Fahkwang;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.username {
 
  position: absolute;
  width: 635px;
  height: 40px;
  left: 383px;
  top: 380px;
  mix-blend-mode: darken;
}
.password {
  position: absolute;
  width: 635px;
  height: 40px;
  left: 383px;
  top: 430px;
  mix-blend-mode: darken;
}
.btnlogin {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 920px;
  top: 480px;
  mix-blend-mode: darken;
  background-color:deepskyblue;
  color:white;
}
.loginwith {
  /* Hoặc đăng nhập với: */
  position: absolute;
  width: 400px;
  height: 31px;
  left: 383px;
  top: 540px;
  font-family: Encode Sans Semi Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  font-feature-settings: 'dnom' on;
  color: #764343;
  border: 1px solid #FDFF8E;
}
.txtdangki {
  /* Bạn chưa có tải khoản ? */
  position: absolute;
  width: 306px;
  height: 31px;
  left: 383px;
  top: 630px;
  font-family: Encode Sans Semi Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  font-feature-settings: 'dnom' on;
  color: #764343;
  border: 1px solid #FDFF8E;
}
.iconfb {
  /* icon-facebook 1 */
  position: absolute;
  width: 258px;
  height: 67px;
  left: 800px;
  top: 510px;
  mix-blend-mode: darken;
}

.icondangkingay {
  /* Button-03 1 */
  position: absolute;
  width: 258px;
  height: 103px;
  left: 800px;
  top: 605px;
  mix-blend-mode: darken;
}
