<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="txtservice">
      Dịch vụ vận chuyển của chúng tôi
  </div>
  
    
  <div class="txtexpress">
    <form >
      <label for="cars">Nơi giao hàng:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
  </div>
  <div >
    <form class="txtexpress" >
      <label for="cars">Nơi giao hàng:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
  </div>
  <div >
    <form class="txtgiao24h">
      <label for="cars">Loại hàng hóa:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
  </div>
  <div>
    <form  class="txttietkiem" >
      <label for="cars">Nơi nhận hàng:</label>
      <select name="cars" id="cars" >
        <option  value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>

  </div>
  <div >
    <form class="txtnoivanchuyen" >
      <label for="cars">Nơi vận chuyển:</label>
      <select name="cars" id="cars" >
        <option  value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
     
    </form>
    </div>
  <div class="btndatgiao">

    <img src="../../assets/datgiaongay.png" />

  </div>
</body>
</html>
