


.txtthongtindoanhnghiep {
    /* Thông tin cá nhân */
    position: absolute;
    width: 260px;
    height: 31px;
    top:200px;
    left:460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .txttendoanhnghiep {
    /* Tên người dùng */
    position: absolute;
    width: 239px;
    height: 22px;
    top: 259px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .tendoanhnghiep {
    /* example@gmail.com */
    position: absolute;
    width: 350px;
    height: 22px;
    top: 259px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .txtdiachi {
    /* Địa chỉ */
    position: absolute;
    width: 239px;
    height: 22px;
    top:289px;
    left:460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .diachi {
    /* aaa,bbb,ccc */
    position: absolute;
    width: 350px;
    height: 22px;
    top: 289px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .txtgiayphep {
    /* Điện thoại */
    position: absolute;
    width: 239px;
    height: 22px;
    
    top: 319px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .giayphep { /* 085-444-5367 */
    position: absolute;
    width: 350px;
    height: 22px;
    top: 319px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  border: black;
    color: #000000;
  }
  .logo { /* example@gmail.com */
    position: absolute;
    width: 350px;
    height: 22px;
    top: 349px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: black;
    color: #000000;
  }
  
  
  .txtlogo {
    /* Email */
    position: absolute;
    width: 239px;
    height: 22px;
    top: 349px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .nguoidaidien { /* *************** */
    position: absolute;
    width: 350px;
    height: 22px;
    top: 379px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .txtnguoidaidien {
    /* Mật khẩu */
    position: absolute;
    width: 239px;
    height: 22px;
    top: 379px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .txtchucvu{
    position: absolute;
    width: 239px;
    height: 22px;
    top: 409px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .chucvu{
    position: absolute;
    width: 350px;
    height: 22px;
    top: 409px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .txtemail{
    position: absolute;
    width: 239px;
    height: 22px;
    top: 439px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .email{
    position: absolute;
    width: 350px;
    height: 22px;
    top: 439px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

  }
  .txtsodienthoai{
    position: absolute;
    width: 239px;
    height: 22px;
    top: 469px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .sodienthoai{
    position: absolute;
    width: 350px;
    height: 22px;
    top: 469px;
    left: 772px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  .taikhoanlienket {
    /* Tài khoản liên kết */
    position: absolute;
    width: 260px;
    height: 31px;
    top:534px;
    left:460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .lichsugiaodich { /* Lịch sử giao dịch */
    position: absolute;
    width: 260px;
    height: 31px;
    top: 564px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .thongtinuudai { /* Thông tin ưu đãi */
    position: absolute;
    width: 260px;
    height: 31px;
    top: 534px;
    left: 460px;
    font-family: Encode Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .luuthongtin {
    /* Rectangle 12 */
    position: absolute;
    width: 235px;
    height: 40px;
    top:630px;
    left:460px;
    line-height:50px;
    text-align:center;
    background: linear-gradient(180deg, #E5F0A2 0%, rgba(255, 255, 255, 0) 100%), #CECB78;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
  }
  .huythaydoi {
    /* Rectangle 13 */
    position: absolute;
    width: 235px;
    height: 40px;
    top: 630px;
    left: 798px;
    color: #8D5C6E;
    font-size: 25px;
    
    line-height: 50px;
    text-align: center;
    background: linear-gradient(180deg, #E5F0A2 0%, rgba(255, 255, 255, 0) 100%), #CECB78;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
  }
  