<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container"></div>
  <!-- <div class="avatar">
    <img src="../../assets/avatar.png" />
  </div>
  <div class="editavatar">Chỉnh sửa ảnh đại diện</div>
  <div class="name">Nguyễn Văn B</div> -->
  <div class="txtthongtindoanhnghiep">Thông tin  doanh nghiệp</div>
  <div class="txttendoanhnghiep">Tên doanh nghiệp</div>
  <div class="txtdiachi">Địa chỉ</div>
  <div class="txtgiayphep">Giấy phép</div>
  <div class="txtlogo">Logo</div>
  <div class="txtnguoidaidien">Người đại diện</div>
  <div class="txtchucvu">Chức vụ</div>
  <div class="txtemail">Email</div>
  <div class="txtsodienthoai">Số điện thoại</div>


  <input type="text" class="tendoanhnghiep" />
  <input type="text" class="diachi" />
  <input type="file" class="giayphep" />
  <input type="file" class="logo" />
  <input type="text" class="nguoidaidien" />
  <input type="text" class="chucvu" />
  <input type="text" class="email" />
  <input type="text" class="sodienthoai" />
  <div class="taikhoanlienket">Lịch sử đơn hàng</div>
  <div class="lichsugiaodich">Thông tin gói dịch vụ</div>
  <div class="luuthongtin">
    <img src="../../assets/luuthongtin.png" />
  </div>
  <div class="huythaydoi">
  <b> Quay lại </b> 
  </div>
</body>
</html>
