

.contain{
    position: absolute;
    width: 650px;
    height: 47px;
    left: 500px;
    top: 450px;
   
    
    
  }
  .txtemail{
    position: absolute;
   
    height: 27px;
    width: 180px;
    left: 310px;
    top: 365px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .email{
    position: absolute;
    width: 279px;
    height: 27px;
    left: 458px;
    top: 365px;
    background: #D5E08D;
  }
  
  
    .textregister {
     
      /* ĐĂNG KÍ */
    
    position: absolute;
    width: 250px;
    height: 96px;
    top:150px;
    left:700px;
    font-family: Fahkwang;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    
    color: #04AA6D;
    
    
    }
    .name {
      /* Rectangle 5 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 458px;
      top: 222px;
      background: #D5E08D;
    }
    .txtname {
      /* Tên đầy đủ: */
      position: absolute;
      
      height: 27px;
      width: 180px;
      left: 310px;
      top: 222px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    .ngsinh {
      /* Rectangle 7 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 458px;
      top: 271px;
      background: #D5E08D;
    }
    .txtngsinh {
      /* Ngày sinh: */
      position: absolute;
      width: 180px;
      left: 310px;
      height: 27px;
    
      top: 271px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    .address {
      /* Rectangle 6 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 458px;
      top: 320px;
      background: #D5E08D;
    }
    .txtaddress {
      /* Địa chỉ: */
      position: absolute;
      
      height: 27px;
      width: 180px;
      left: 310px;
      top: 320px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
   
    
   
    .passw {
      /* Rectangle 9 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 1023px;
      top: 222px;
      background: #D5E08D;
    }
    .txtpassw {
      /* Mật khẩu: */
      position: absolute;
      width: 121px;
      height: 27px;
      left: 845px;
      top: 222px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    .repeatepw { /* Rectangle 10 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 1023px;
      top: 271px;
      background: #D5E08D;
    }
    .txtrepeatepw {
      /* Nhập lại mật khẩu: */
      position: absolute;
      width: 154px;
      height: 27px;
      left: 845px;
      top: 271px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    .gioitinh {
      /* Rectangle 11 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 1023px;
      top: 318px;
      background: #D5E08D;
    }
    .txtgioitinh {
      /* Giới tính: */
      position: absolute;
      width: 121px;
      height: 27px;
      left: 845px;
      top: 320px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    
    .btnregister {
      /* HOÀN TẤT ĐĂNG KÍ */
      position: absolute;
      width: 150px;
      height: 47px;
      left: 650px;
      top: 450px;
      font-family: Exo 2;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      background: #D5E08D;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      color:#9B3B3B ;
    }
   
    .btnquaylai {
      /* HOÀN TẤT ĐĂNG KÍ */
      position: absolute;
      width: 140px;
      height: 47px;
      left: 900px;
      top: 450px;
  
    
      font-weight: 800;
      font-size: 24px;
  
      background: #D5E08D;
     
      color:#9B3B3B ;
    }
    
    .id {
      /* Rectangle 11 */
      position: absolute;
      width: 279px;
      height: 27px;
      left: 1023px;
      top: 465px;
      background: #D5E08D;
    }
    .txtid {
      /* Giới tính: */
      position: absolute;
      width: 121px;
      height: 27px;
      left: 845px;
      top: 465px;
      font-family: Red Hat Display;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
    }
    