<app-admin></app-admin>
<form [formGroup]="formGroup" (ngSubmit)="updatekhachhang()">
  <div class="txtname"> ID </div>
  <input type="text" class="name" formControlName="idKhachHang" />
  <div class="txtngsinh"> Tên</div>
  <input type="text" class="ngsinh" formControlName="Ten" />
  <div class="txtaddress"> Số điện thoại</div>
  <input type="text" class="address"  formControlName="SoDienThoai"/>
  <button type="submit" class="btnupdate">Update</button>
  </form>
<table class="contain" border="1" >
  <thead>
  <tr >
    <th  style="text-align: center">Tên gói dịch vụ khách hàng</th>
    <th  style="text-align: center">Tên khách hàng</th>
    <th style="text-align: center">Email</th>
    <th  style="text-align: center">Số điện thoại</th>
    <th  style="text-align: center">Ngày hết hạn</th>
    <th style="text-align: center">Số đơn hàng</th>
   
    <th  style="text-align: center">Khối lượng tối đa</th>
    <th  style="text-align: center">Giảm giá</th>
    
    <th  style="text-align: center">Xóa hoặc chỉnh sửa</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of array ">

    <td>  {{data.TenDichVuKhachHang}}</td>
    <td>  {{data.TenKhachHang}}</td>
    <td>  {{data.Email}}</td>
    <td>  {{data.SoDienThoai}}</td>
    <td>  {{data.NgayHetHan}}</td>
    <td>  {{data.SoDonHang}}</td>
    <td>  {{data.KhoiLuongToiDa}}</td>
    <td>  {{data.GiamGia}}</td>
    
    
   
    
   <td><button (click)="currentData(data._id)">Chỉnh sửa</button></td>

  </tr>
</tbody>
</table>

