<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="../../assets/jquery_321/jquery-3.2.1.js"></script>
  <title></title>
</head>
<body>
  <div class="img_delivery_dangkidoanhnghiepvanchuyen">
    <img src="../../assets/deliverycompany.png" />
  </div>
  <div class="txtdeliverydangkidoanhnghiepvanchuyen">Delivery Company</div>
  <div class="txttrothanhdoitac">Trở thành đối tác của chúng tôi </div>
  <div class="txttendoanhnghiep">Tên doanh nghiệp</div>
  <input class="edittxttendoanhnghiep" />
  <div class="txtdiachidoanhnghiep">Địa chỉ</div>
  <input class="edittxt_diachidoanhnghiep" />
  <div class="txtmasothue">Mã số thuế</div>
  <input class="edittxtmasothue" />
  <div class="txtloaihinh">Logo doanh nghiệp</div>
  <input class="edittxtloaihinh" type="file"   name="select" id="selectedFile" />
  <div  class="txtlogodoanhnghiep">Giấy phép</div>



  
 <input type="file" class="edittxtlogodoanhnghiep"   name="select" id="selectedFile" />




    
    <div class="txtnguoidaidiendoanhnghiep">Người đại diện</div>
    <input class="edittxtnguoidaidien" />
    <div class="txtdienthoaidoanhnghiep">Chức vụ</div>
    <input class="editdienthoaidoanhnghiep" />
    <div class="txtemaildoanhnghiep">Điện thoại</div>
    <input class="edittxtemaildoanhnghiep" />
    <div class="txttendangnhapdoanhnghiep">Email</div>
    <input class="edittxttendangnhapdoanhnghiep" />
    <div  class="txtmatkhaudoanhnghiep">Mật khẩu</div>
    <input  type="password" class="edittxtmatkhaudoanhnghiep" />
    <div class="txtdongydieukhoan">Xem điều khoản của chúng tôi Tại đây , bạn đồng ý với các điều khoản?</div>
    <input type="checkbox" class="chkboxdongydieukhoan" />

    <button class="txtxacnhan">Xác nhận</button>


  </body>


  </html>

