<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="../../assets/jquery_321/jquery-3.2.1.js"></script>
  <title></title>
</head>
<body>
  <div class="img_delivery_dangkidoanhnghiepvanchuyen">
    <img src="../../assets/deliverycompany.png" />
  </div>
  <div class="txtdeliverydangkidoanhnghiepvanchuyen">Delivery Company</div>
  <div class="txttrothanhdoitac">Trở thành đối tác của chúng tôi </div>



  <form  class="form-group" [formGroup]="formGroup" (ngSubmit)="dangkidoanhnghiepProces()"    >
  <div class="txttendoanhnghiep ">Tên doanh nghiệp</div>
  <input type="text" class="edittxttendoanhnghiep " id="TenDoanhNghiep" formControlName="TenDoanhNghiep" />

  <div class="txtdiachidoanhnghiep">Địa chỉ</div>
  <input type="text" class="edittxt_diachidoanhnghiep" id="DiaChi" formControlName="DiaChi" />


  <div class="txtloaihinh">Giấy phép</div>
  <input class="edittxtloaihinh" type="file" id="doc" accept=".png,.jpg" formControlName="doc" (change)="onFileChangedoc($event.target.files)" #fileInput>

  <div class="txtmasothue">Logo doanh nghiệp</div>
  <input type="file" formControlName="logo"  class="edittxtmasothue" id="logo" accept=".png,.jpg"  (change)="onFileChangelogo($event.target.files)"    #fileInput>

 

 
    <div class="txtnguoidaidiendoanhnghiep">Điện thoại</div>
    <input type="text" class="edittxtnguoidaidien" id="SoDienThoai" formControlName="SoDienThoai"/>
    <div class="txtdienthoaidoanhnghiep">Email</div>
    <input class="editdienthoaidoanhnghiep" id="Email" formControlName="Email" />
    <div class="txtemaildoanhnghiep">Mật khẩu</div>
    <input type="password" class="edittxtemaildoanhnghiep" id="Password" formControlName="Password"/>
    
  
    <div class="txtdongydieukhoan">Xem điều khoản của chúng tôi Tại đây , bạn đồng ý với các điều khoản?</div>
    <input type="checkbox" class="chkboxdongydieukhoan"  formControlName="CheckBox" />

    <button  type="submit" class="txtxacnhan">Xác nhận</button>


</form>
    

  </body>
 

  </html>

